


.profile__main{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.profile__info{
    display:flex;
    flex-direction: column;
    margin-left: 100px;
}

.profile__image{
    margin-top:30px
}

.profile__username{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.username{
    margin: 20px;
    font-size: 30px;
    font-weight: lighter;
}

.edit{
    margin: 30px;
}

.edit_button{
    width: 100px;
    box-shadow: none;
    height: 30px;
    font-weight: 600;
    font-size: 13px;
    background-color: #f8f8f8;
    border: 1px solid #b9aeae;
    border-radius: 5px;
}

.profile__following{
    display:flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
    font-size: 20px;
}

.profile__bio{
    display: block;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 10px;


}

.name{
    font-size: 20px;
}

.profile__bottom {
    width: 50%;
    margin: auto;
    margin-top: 70px;
}


